{{> admin-menu active="analytics"}}

<table class="table">
    <thead>
        <tr>
            <th>Total Users</th>
            <th>Most Active User</th>
            <th>Most Popular Category</th>
            <th>Total Placemarks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{users}}</td>
            <td>{{mostActiveUser}}</td>
            <td>{{mostPopularCategory}}</td>
            <td>{{placemarks}}</td>
        </tr>
    </tbody>
</table>

<h2>Placemarks per Category</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {{#each placemarksPerCategory}}
        <tr>
            <td>{{category}}</td>
            <td>{{count}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
