<div class="columns is-multiline">
  {{#if users}}
  <div class="column is-full">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Placemarks in charge</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{firstName}}</td>
          <td>{{lastName}}</td>
          <td>{{email}}</td>
          <td>{{placemarkCount}}</td>
          <td>
            <a href="/admin/deleteuser/{{_id}}" title="Delete User">
              <i class="fas fa-trash has-text-danger"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <div class="column is-full">
    <div class="box">
      <p>No users found</p>
    </div>
  </div>
  {{/if}}
</div>
