<div class="columns is-multiline">
  {{#if users}}
  <div class="column is-full">
    <div class="columns is-multiline">
      {{#each users}}
      <div class="column is-one-third">
        <div class="card">
          <header class="card-header has-background-warning"> 
            <p class="card-header-title is-centered">Admin</p>
          </header>
            <div class="content">
              <p><strong>First Name:</strong> {{firstName}}</p>
              <p><strong>Last Name:</strong> {{lastName}}</p>
              <p><strong>Email:</strong> {{email}}</p>
              <p><strong>Placemarks in charge:</strong> {{placemarkCount}}</p>
            </div>
          </div>
          <footer class="card-footer">
    <a href="/admin/deleteuser/{{_id}}" title="Delete User" class="card-footer-item">
        <i class="fas fa-trash has-text-danger"></i>
    </a>
</footer>

        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{else}}
  <div class="column is-full">
    <div class="box">
      <p>No users found</p>
    </div>
  {{/if}}
</div>

